<div class="actions">
  <button nz-button nzType="default" nzShape="circle">
    <i nz-icon nzType="shopping" nzTheme="fill"></i>
  </button>
  <button nz-button nzType="default" nzShape="circle">
    <i nz-icon nzType="question-circle" nzTheme="fill"></i>
  </button>
  <button nz-button nzType="default" nzShape="circle" class="notification-button">
    <i nz-icon nzType="bell" nzTheme="fill"></i>
    <span class="notification-badge">3</span>
  </button>
  <div class="avatar-container">
    <nz-avatar nzText="A" class="user-avatar"></nz-avatar>
    <span class="user-role">Administrador</span>
    <i nz-icon nzType="down" nzTheme="outline"></i>
  </div>
  <div class="logo-right">
    <a href="#">mandü</a>
  </div>
</div>