.organization-container {
  min-height: 100vh;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;

  .actions-tabs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    margin-top: 16px;
    box-sizing: border-box;
  }

  app-tabs {
    flex-grow: 1;
  }

  app-action-buttons {
    display: flex;
    gap: 8px;
    background-color: white;
  }

  router-outlet {
    flex: 1;
    padding: 0 24px;
  }
}